// Modules

.cta {
  &.contact {
    background: rgb(0,96,126);
    background: linear-gradient(90deg, rgba(0,96,126,1) 0%, rgba(16,156,179,1) 44%, rgba(10,108,137,1) 100%);
    padding: $padding-half 0;
    @media (min-width: $breakpoint-tablet) {
      padding: $padding 0;
    }
    text-align: center;
    h4 {
      color: $white;
      
      
      font: $bold 2.4rem/3.6rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 3.8rem/6.0rem $regular;
      }
      @media (min-width: $breakpoint-desktop) {
        font: $bold 4.8rem/7.0rem $regular;
      }
    }
    a {
      color: $white;
      text-decoration-color: $white;
    }
  }
}

