// Modules

.cta {
  &.contact {
    background: #2C3E50;
    // background: linear-gradient(90deg, rgba(0, 45, 79,1) 0%, rgba(7, 67, 111, 1) 50%, rgba(0, 45, 79,1) 100%);
    padding: $padding-half 0;
    @media (min-width: $breakpoint-tablet) {
      padding: $padding 0;
    }
    h4 {
      color: $white;
      font: $bold 2.4rem/3.6rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 4.2rem/6.4rem $regular;
      }
    }
    a {
      -webkit-transition: all ease .2s;
      -moz-transition: all ease .2s;
      -o-transition: all ease .2s;
      transition: all ease .2s;
      padding: 0 10px;
      text-decoration: none;
      background: $white;
      color: #2C3E50;
      &:hover {
        text-decoration: none;
        background: $orange;
        color: $white;
      }
    }
  }
}

