// ------------------------------------------------------------
// Animations
// ------------------------------------------------------------

@mixin fadeIn() {
  opacity: 0;
  animation: fadeIn 0.6s ease-out forwards;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: ($i - 1) * 0.2s;
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@mixin drop() {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
  animation: dropIn 0.6s ease-out forwards;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: ($i - 1) * 0.2s;
    }
  }
}

@keyframes dropIn {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@mixin rise() {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  animation: riseIn 0.6s ease-out forwards;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: ($i - 1) * 0.2s;
    }
  }
}

@keyframes riseIn {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.site-title {
  svg {
    #path1, #path2, #path3, #path4, #path5, #path6 { /* Use your actual path IDs or classes */
      opacity: 1;
    }
  }
}

header {
  .site-title, nav {
    opacity: 0;
  }
  &.visible {
    .site-title, nav {
      @include fadeIn();
    }
  }
}

body.home {
  section.intro {
    h1, h2 {
      opacity: 0;
      span.stand_out {
        background: none;
      }
    }
    p {
      opacity: 0;
    }  
    &.visible {
      h1, h2 {
        @include rise();
        span.stand_out {
          background: #00B090;
          transition: background linear 0.5s;
          transition-delay: 0.2s;
          
        }
      }
      p {
        @include rise();
      }
    }
  }
}
section.intro {
  h1 {
    opacity: 0;
    span.stand_out {
      background: none;
    }
  }
  p {
    opacity: 0;
  }
  &.visible {
    h1 {
      @include rise();
      span.stand_out {
        background: #00B090;
        transition: background linear 0.5s;
        transition-delay: 0.2s;
      }
    }
    p {
      @include rise();
    }
  }
}

section.services {
  .heading, .service {
    opacity: 0;
  }
  &.visible {
    .heading {
     @include fadeIn();
    }
    .service {
      @include rise();
    }
  }
}

section.work {
  .heading, .client_content {
    opacity: 0;
  }
  &.visible {
    .heading {
      @include fadeIn();
    }
    .client_content {
      @include rise();
    }
  }
}

section.benefits, section.process {
  .heading, .benefit, .step {
    opacity: 0;
  }
  &.visible {
    .heading {
      @include fadeIn();
    }
    .benefit, .step {
      @include rise();
    }
  }
}

section.before_after {
  .heading {
    opacity: 0;
  }
  .compare {
    opacity: 0;

  }
  &.visible {
    .heading {
      @include fadeIn();
    }
    .compare {
      @include rise();
    }
  }
}

section.consultation {
  h3, p, .button {
    opacity: 0;
  }
  &.visible {
    h3 {
      @include drop();
    }
    p, .button {
      @include rise();
    }
  }
}

section.pricing {
  .heading h2, .heading p, .plan {
    opacity: 0;
  }
  &.visible {
    .heading h2, .heading p {
      @include fadeIn();
    }
    .plan {
      @include rise();

      &.review {
        animation-delay: 0.2s;
      }
    }
  }
}

section.reviews {
  .heading h3, .review {
    opacity: 0;
  }
  &.visible {
    .heading h3 {
      @include fadeIn();
    }
    .review {
      @include drop();
    }
  }
}

section.faq {
  .heading h3, .accordion {
    opacity: 0;
  }
  &.visible {
    .heading h3 {
      @include fadeIn();
    }
    .accordion {
      @include rise();
    }
  }
}

section.plan_form {
  .heading h3, nf-field {
    opacity: 0;
  }
  &.visible {
    .heading h3 {
      @include fadeIn();
    }
    nf-field {
      @include rise();
    }
  }
}