/* Buttons 
    
<a href="#" class="button primary">Get a quote</a>
<a href="#" class="button secondary">Get a quote</a>

*/

.button {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px 10px 15px;
  margin: 5px 10px 5px 0;
  font: $normal 1.4rem/1.4rem $regular;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  @include border-radius(10px);
  color: #04879D;
  background: transparent;
  border: 2px solid #04879D;
  text-decoration: none;
  &:hover {
    color: $white;
    border: 2px solid #04879D;
    background: #04879D;
  }

}