/*
* Main Stylesheet
* Copyright 2020, Tom Brooks
* www.olospo.co.uk
*/

/* ================ Site Styles ================ */

/* Basic Styles */
	
	body {
		/* background: #0485a4 url('../images/bg-colour.jpg') center center no-repeat;
  	background-size: cover; */
  	background: #0485a4;
		font: 16px/24px 'Noto Serif', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
	}
	
	::-moz-selection { background: #1B92B0; color:#fff; text-shadow: none; }
	::selection { background: #1B92B0; color:#fff; text-shadow: none; }
 
/* #Typography
================================================== */
	h1 {
		color: #2D2D2D;
		font-family:'Raleway', "Georgia", "Times New Roman", serif;
		font-weight: 700; 
	}
			
	h2, h3, h4, h5, h6 { 
		color: #555E58;
		/* font-family: "Georgia", "Times New Roman", serif; */
		font-family: 'Raleway', "Georgia", "Times New Roman", sans-serif;
		font-weight: 500;
	}
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; }
	h2 { font-size: 35px; line-height: 40px; }
	h3 { font-size: 32px; line-height: 38px; }
	h4 { font-size: 24px; line-height: 32px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader {color: #777; margin-bottom: 10px; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; }

/* #Links
================================================== */

	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #1B92B0; }
	p a, p a:visited { line-height: inherit; }

/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* Images */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; 
	}
	img {
		display: block;
	}
	
/* Header */

header {
	margin: 0px;
	padding: 40px 0px;
	background-color: #2D2D2D;
}

/* Navigation */

.navigation {
	font-family:'Raleway';
	font-weight: 700;
}

ul.nav {
	margin: 8px 0px;
	padding: 0px;
}

ul.nav li {
	font-size: 16px;
	display: inline;
	padding-left: 30px;
	padding-right: 30px;
	border-right: 1px solid #1f1f1f;
	border-left: 1px solid #444444;
	margin: 0px;
	margin-left: -4px;
}


ul.nav li:nth-child(1) {
	padding-left: 0px;
	border-left: none;
	margin-left: 0px;
}

ul.nav li:nth-child(3) {
	border-right: none;
	padding-right: 0px;
	margin-right: 0px;
}

ul.nav li a {
	color: #fff;
	text-decoration: none;
}

ul.nav li a:hover, ul.nav li a.active {
	color: #15869D;
	text-decoration: none;
}

/* Sections */ 

section {
	padding: 30px 0px;
}

section.tagline h1 {
	font-size: 68px;
	line-height: 78px;
	color: #fff;
	margin-bottom: 35px;
	letter-spacing: 1px;
	span.stand_out {
  	
	}
}

section.tagline p {
	font-family:'Raleway';
	font-size: 24px;
	color: #fff;
	margin-bottom: 10px;
}

section.tagline a {
  font-family:'Raleway';
	font-size: 24px;
	padding: 10px; 
	display: inline-block;
	text-decoration: none;
	margin: 30px 30px 0px 0px;
	background: #007098;
  color: #fff;
	&:hover {
  	background: #fff;
    color: #0485a4;
	}
}

section.intro {
  background: #fff;
  p:last-child {
    margin-bottom: 0;
  }
}

/* Footer */

footer {
	background-color: #fff;
	margin: 0px 0px 0px 0px;
}

.footer {
	text-align: left;
	padding: 40px 0px;
	color: #2d2d2d;
	border-top: 1px solid #e5e4e4;
}

.footer p {
	margin-bottom: 0px !important;
}

.footer a {
	color: #00729e;
	font-weight: bold;
	text-decoration: none;
}

.footer a:hover {
	color: #1F99AE;
}

.footer .twitter, .footer .email {
	display: inline-block;
	margin-right: 20px;
} 

/* ================ Media Queries ================ */

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		header {
			margin: 0px;
			padding: 30px 0px;
			background-color: #2D2D2D;
		}
		
		.logo {
			text-align: center;
		}
		
		section.tagline {
			padding: 20px 0px;
		}
				
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
				
		section.tagline h1 {
			font-size: 24px;
			line-height: 34px;
			margin-bottom: 3px;
		}
		
		section.tagline p {
			font-size: 18px;
		}
								
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		section.tagline h1 {
			font-size: 26px;
			line-height: 32px;
			margin-bottom: 5px;
		}	
		section.header h3 {
			font-size: 24px;
		}	
		section.tagline p {
			font-size: 18px;
		}
		.footer .twitter, .footer .email {
      display: inline-block;
      padding: 10px 10px;
    }

	}
	