//
// About
//

.testimonials {
  background: $white-bg;
  padding: $padding-half 0;
  .heading {
    margin-bottom: 40px;
    h2 {
      font: $bold 2.8rem/3.2rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 3.8rem/4.2rem $regular;
      }
      color: #2A3341;
      margin-bottom: 10px;
      text-align: center;
    }
    p {
      font: $light 1.8rem/2.8rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $light 2.4rem/3.2rem $regular;
      }
      text-align: center;
    }
  }
  article {
    border: 1px solid #EAECF0;
    background: #fefeff;
    padding: 35px 20px 20px 35px;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) {
      padding: 50px 30px 30px 60px;
      margin-bottom: 40px;
    }
    box-sizing: border-box;
    @include border-radius(20px);
    
    
    blockquote {
      position: relative;
      &::before {
        content: "\201C";
        font: $normal 4rem/4rem $playfair;
        top: -22px;
        left: -22px;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 8rem/8rem $playfair;
          top: -42px;
          left: -42px;
        }
        z-index: 0;
        position: absolute;
        color: #2A3341;
      }
      p {
        font: $normal 1.4rem/2.4rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 1.6rem/2.6rem $regular;
        }
        color: #2A3341;
        margin-bottom: 10px;
      }
      strong {
        color: #2A3341;
        font: $bold 1.4rem/2.4rem $regular;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-left: 3px solid #2A3341;
        padding-left: 15px;
      }
    }
  }
}

.different {
  background: #040e1f;
  padding: $padding-half 0;
  .heading {
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 40px;
    }
    h2 {
      font: $bold 2.8rem/3.2rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 3.8rem/4.2rem $regular;
      }
      color: $white;
      margin-bottom: 10px;
      text-align: center;
    }
    p {
      font: $light 1.8rem/2.8rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $light 2.4rem/3.2rem $regular;
      }
      text-align: center;
      color: $white;
    }
  }
  .what {
    position: relative;
    h3 {
      font: $semi-bold 2.0rem/2.8rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $semi-bold 2.4rem/3.2rem $regular;
      }
      color: $white;
      margin-left: 70px;
      margin-bottom: 10px;
    }
    p {
      color: #b7c2d2;
      font: $light 1.6rem/2.8rem $regular;
      margin-left: 70px;
      margin-bottom: 0;
    }
    svg {
      float: left;
      height: 24px;
      top: 5px;
      left: 30px;
      position: absolute;
      fill: #fff;
    }
    
  }
}