// Contact

// Page
.page.contact {
  background: $white;
  padding: $padding-half 0 $padding-half 0;
  
  .heading {
    margin-bottom: 40px;
    h2 {
      font: $bold 3.8rem/3.2rem $regular;
      color: #2A3341;
      margin-bottom: 10px;
      text-align: center;
    }
    p {
      font: $light 2.4rem/3.2rem $regular;
      text-align: center;
    }
  }

  aside {
    .content {
      height: 100%;
      background: $white-bg;
      padding: 30px;
      box-sizing: border-box;
      @include border-radius(20px);
      margin-bottom: 40px;
      @media (max-width: $breakpoint-tablet) {
        @include border-radius(0px);
        
      }
      &:last-child {
        margin-bottom: 0;
      }
      ul.availability {
        color: #2A3341;
        margin: 20px 0;
        li {
          font: $light 1.6rem/2.4rem $regular;
          margin: 10px 0;
          list-style: none;
          padding: 2px 0px 2px 10px;
          &.booked {
            border-left: 30px solid #d76e6e;
          }
          &.limited {
            border-left: 30px solid #e5a464;
          }
          &.available {
            border-left: 30px solid #9ec779;
          }
        }
      }
      p.note {
        font: $light 1.4rem/2.4rem $regular;
      }
      ul.contact {
        color: #2A3341;
        li.email {
          background: url('../img/email-icon.svg') left center no-repeat;
          padding-left: 45px;
          margin: 5px 0;
          list-style: none;
        }
      }
    }
  }
  h2 {
    font: $bold 2.0rem/3.2rem $regular;
    color: #2A3341;
    margin-bottom: 5px;
  }
  p {
    color: #697991;
    font: $light 1.6rem/2.8rem $regular;
    &:last-child {
      margin: 0;
    }
  }
}