//
// Home
//

// Intro
.intro {
  background: rgb(0,96,126);
  background: linear-gradient(90deg, rgba(0,96,126,1) 0%, rgba(16,156,179,1) 44%, rgba(10,108,137,1) 100%);
  padding: $padding-half 0 $padding 0;
  @media (min-width: $breakpoint-tablet) {
    padding: 120px 0 180px 0;
  }
  h1, h2 {
    letter-spacing: 1px;
    color: $white;
    font: $medium 2.4rem/3.6rem $regular;
    margin-bottom: 10px;
    // text-align: center;
    @media (min-width: $breakpoint-tablet) {
      font: $bold 4.8rem/7.0rem $regular;
      margin-bottom: 10px;
    }
    @media (min-width: $breakpoint-desktop) {
      font: $bold 6.8rem/10rem $regular;
      margin-bottom: 20px;
    }
    span.stand_out {
      background: #FF936D;
      color: #fff;
      padding: 0px 10px;
      font-family: $regular;
      font-weight: $bold;
    }
  }
  p {
    // text-align: center;
    color: $white;
    font: $light 1.6rem/2.6rem $regular;
    @media (min-width: $breakpoint-tablet) {
      font: $normal 2.6rem/4.0rem $regular;
    }
    @media (min-width: $breakpoint-desktop) {
      font: $normal 3.2rem/4.4rem $regular;
    }
  }
  em {
    text-decoration: underline;
    color: $white;
  }
  &.single {
    padding: 20px 0 40px 0;
    @media (min-width: $breakpoint-tablet) {
      padding: $padding-half 0 $padding 0;
    }
  }
}

.arrow-down {
  margin-top: -40px;
  margin-bottom: 40px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  &.blue {
    border-top: 20px solid #0F97AE;
  }
  &.white {
    border-top: 20px solid $white-bg;
  }
}

.services {
  background: $white-bg;
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding-half 0 $padding-half 0;
  }
  .heading {
    margin-bottom: 40px;
    h2 {
      font: $bold 2.8rem/3.2rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 3.8rem/4.2rem $regular;
      }
      color: #2A3341;
      margin-bottom: 10px;
      text-align: center;
    }
    p {
      font: $light 1.8rem/2.8rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $light 2.4rem/3.2rem $regular;
      }
      text-align: center;
    }
  }
  
  .row {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .service {
    width: 100%;
    margin-bottom: 20px;
    
    @media (min-width: $breakpoint-tablet) {
      width: 49% !important;
      flex-basis: 49%;
      &:nth-child(2) {
        margin-left: 2%;
      }
    }
    a {
      text-decoration: none;
    }
    .content {
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.017);
      height: 100%;
      background: #F6F8FC;
      padding: 30px 20px;
      box-sizing: border-box;
      @include border-radius(0px);

        border: 1px solid #EAECF0;
        background: #fefeff;
        @include border-radius(10px);
      
    }
  }
  h3 {
    font: $semi-bold 2.0rem/2.8rem $regular;
    @media (min-width: $breakpoint-tablet) {
      font: $semi-bold 2.4rem/3.2rem $regular;
    }
    color: #2A3341;
    margin-left: 70px;
    margin-bottom: 10px;
  }
  p {
    color: #697991;
    font: $light 1.6rem/2.8rem $regular;
    margin-left: 70px;
    margin-bottom: 0;
  }
  svg {
    float: left;
    height: 24px;
    top: 35px;
    left: 30px;
    position: absolute;
    path#Shape {
      fill: #2A3341;
    }
  }
}

.clients {
  background: #040e1f;
  padding: $padding-half 0;
  .heading {
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 40px;
    }
    h2 {
      font: $bold 2.8rem/3.2rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 3.8rem/4.2rem $regular;
      }
      color: $white;
      margin-bottom: 10px;
      text-align: center;
    }
    p {
      font: $light 1.8rem/2.8rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $light 2.4rem/3.2rem $regular;
      }
      text-align: center;
      color: $white;
    }
  }
  ul {
    font: $light 1.4rem/2.4rem $regular;
    color: $white;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
    @media (min-width: $breakpoint-tablet) {
      font: $light 1.8rem/2.8rem $regular;
      -moz-column-count: 3;
      -moz-column-gap: 20px;
      -webkit-column-count: 3;
      -webkit-column-gap: 20px;
      column-count: 3;
      column-gap: 20px;
    }
    @media (min-width: $breakpoint-laptop) {
      -moz-column-count: 4;
      -moz-column-gap: 20px;
      -webkit-column-count: 4;
      -webkit-column-gap: 20px;
      column-count: 4;
      column-gap: 20px;
    }
  }
}