//
// Services
//

// Maintenance
.pricing {
  background: $white-bg;
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: 60px 0;
  }
  .heading {
    margin-bottom: $padding-half;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 60px;
    }
    h2 {
      font: $bold 2.6rem/3.2rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 3.8rem/4.2rem $regular;
      }
      color: #002D4F;
      margin-bottom: 10px;
      padding-bottom: 10px;
      // text-align: center;
      border-bottom: 3px solid #FF936D;
      display: inline-block;
    }
    p {
      color: #4a596f;
      font: $light 1.8rem/2.8rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $light 2.4rem/3.8rem $regular;
      }
      // text-align: center;
    }
  }
  .price_plans {
    .plan {
      margin-bottom: 20px;
      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 0;
      }
      &.last-child {
        margin-bottom: 0;
      }
      .title {
        background: #2C3E50;
        box-sizing: border-box;
        padding: 25px 25px 20px 25px;
        box-shadow: 0 3px 15px rgba(0,0,0,.03);
        border: 1px solid #eaecf0;
        border-bottom: none;
        @include border-radius(10px 10px 0 0);
        
        h3 {
          color: $white;
          margin-bottom: 20px;
        }
        strong {
          color: $white;
        }
      }
      &.essentials {
        .title {
          background: #FC5185;
          h3 {
            span.highlight {
              background: $white;
              color: #FC5185;
              padding: 5px 10px;
              margin-right: 5px;
            }
          }
        }
      }
      &.advanced {
        .title {
          background: #FF936D;
          h3 {
            span.highlight {
              background: $white;
              color: #FF936D;
              padding: 5px 10px;
              margin-right: 5px;
            }
          }
        }
      }
      &.premium {
        .title {
          background: #00B090;
          h3 {
            span.highlight {
              background: $white;
              color: #00B090;
              padding: 5px 10px;
              margin-right: 5px;
            }
          }
        }
      }
      .content {
        box-sizing: border-box;
        padding: 15px;
        box-shadow: 0 3px 15px rgba(0,0,0,.03);
        border: 1px solid #eaecf0;
        background: #fefeff;
        @include border-radius(0 0 10px 10px);
        @media (min-width: $breakpoint-tablet) {
          padding: 15px 25px 25px 25px;
        }
        .cta {
          text-align: center;
          margin-top: 20px;
        }
        ul {
          margin: 0;
          li {
            font: $normal 1.6rem/2.8rem $regular;
            list-style: none;
            margin: 5px 0 5px 25px;
            text-indent: -25px;
            &:last-child {
              margin: 5px 0 0 25px;
            }
            &.grey {
              color: #8c8f9f;
            }
            &.heading {
              color: #002D4F;
              margin: 10px 0 10px 25px;
            }
            .tooltip {
              position: relative;
              &:hover .tooltip-box {
                display: block;
              }
              display: none;
            }
            .tooltip-box {
              display: none;
              color: #6d6e6e;
              line-height: 18px;
              background: #fff;
              border: 1px solid #dbdbdb;
              border-radius: 10px;
              position: absolute;
              bottom: 25px;
              left: 50%; /* Position the tooltip box relative to its parent */
              transform: translateX(-50%); /* Center the tooltip box horizontally */
              width: 300px;
              padding: 15px;
              text-indent: 0;
              box-sizing: border-box;
              box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .1);
              p {
                font: $normal 1.5rem/2.4rem $regular;
              }
            }
            svg {
              margin-right: 5px;
              &.red {
                background: #de4d60;
                @include border-radius(50%);
                height: 10px;
                width: 10px;
                padding: 3px;
                path {
                  // fill: #FC5185;
                  fill: #FFFFFF;
                }
              }
              &.yellow {
                background: #FFCD35;
                @include border-radius(50%);
                height: 10px;
                width: 10px;
                padding: 3px;
                path {
                  // fill: #FFCD35;
                  fill: #FFFFFF;
                }
              }
              &.green {
                background: #00B090;
                @include border-radius(50%);
                height: 10px;
                width: 10px;
                padding: 3px;
                path {
                  // fill: #00B090;
                  fill: #FFFFFF;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Reviews
.reviews {
  background: #2C3E50;
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: 60px 0;
  }
  .heading {
    margin-bottom: 40px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 40px;
    }
    text-align: center;
    h3 {
      margin-bottom: 0;
      font: $bold 2.6rem/3.2rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 3.2rem/4.2rem $regular;
      }
      color: $white;
      display: inline-block;
    }
  }
  .container {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
    }
  }
  .review {
    background: #233140;
    color: $white;
    padding: 55px 25px 25px 25px;
    @include border-radius(10px);
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
    }
    blockquote {
      @media (min-width: $breakpoint-tablet) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; 
      }
      position: relative;
      &::before {
        content: "\201C";
        font: $normal 6rem/6rem $playfair;
        top: -45px;
        left: 0px;
        z-index: 0;
        position: absolute;
        color: #435a71;
      }
      svg path {
        fill: #FFCD35;
      }
      .rating {
        margin: auto 0 10px 0;
      }
      strong {
        display: block;
        color: $white;
        font: $semi-bold 1.2rem/2.2rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $semi-bold 1.4rem/2.4rem $regular;
        }
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      span.company {
        color: #5b7691;
        font: $normal 1.2rem/2.2rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 1.4rem/2.4rem $regular;
        }
      }
    }
  }
}

// Accordion
.faq {
  background: #EBEDF2;
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: 60px 0;
  }
  .heading {
    margin-bottom: 40px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 40px;
    }
    text-align: center;
    h3 {
      margin-bottom: 0;
      font: $bold 2.6rem/3.2rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 3.2rem/4.2rem $regular;
      }
      color: #002D4F;
      display: inline-block;
    }
  }
  .accordion {
    box-sizing: border-box;
    padding: 15px;
    box-shadow: 0 3px 15px rgba(0,0,0,.03);
    border: 1px solid #eaecf0;
    background: #fefeff;
    @include border-radius(10px);
    @media (min-width: $breakpoint-tablet) {
      padding: 15px 25px 25px 25px;
    }
    .accordionItem {
      border-bottom: 1px solid #d4d6db;
      padding: 20px 0px;
      .title {
        padding: 0 35px 0 0px;
        overflow: hidden;
        color: #002D4F;
        font: $semi-bold 1.8rem/3.4rem $regular;
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
    
    .accordionItemHeading {
      color: #002D4F;
      font: $semi-bold 1.8rem/3.4rem $regular;
      cursor:pointer;
      position: relative;
      .content {
        padding: 0;
        max-width: 100%;
        @media (min-width: $breakpoint-tablet) {
          max-width: 90%;
        }
      }
      span{
        display: block;
        position: absolute;
        height: 2px;
        width: 20px;
        background: #002D4F;
        opacity: 1;
        right: 15px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        &:nth-child(1) {top: 15px;}
        &:nth-child(2) {top: 15px;transform: rotate(90deg);}
      }
    }
    
    .open .accordionItemHeading {
      border-bottom: none;
      position: relative;
      span{
        &:nth-child(2) { transform: rotate(180deg);}
      }
    }
    
    .close .accordionItemContent {
      height:0px;
      -webkit-transform: scaleY(0);
      -o-transform: scaleY(0);
      -ms-transform: scaleY(0);
      transform: scaleY(0);
      float:left;
      display:block;   
      opacity: 0;
    }
    .open .accordionItemContent {
      margin: 0px 0px 10px 0px;
      padding: 10px 40px 0px 0px;
      display:block;
      -webkit-transform: scaleY(1);
      -o-transform: scaleY(1);
      -ms-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: top;
      -o-transform-origin: top;
      -ms-transform-origin: top;
      transform-origin: top;
      @include opacity(1);
      @include transition(opacity linear 0.2s);
      transition-delay: 0.2s;
      box-sizing: border-box;
      .content {
        max-width: 100%;
        @media (min-width: $breakpoint-tablet) {
          max-width: 90%;
        }
      }
      ul {
        margin: 0px;
      }
      img {
        margin-bottom: 30px;
      }
    }
  }
}

.plan_form {
  background: $white;
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: 60px 0;
  }
  .heading {
    margin-bottom: 40px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 40px;
    }
    text-align: center;
    h3 {
      margin-bottom: 10px;
      font: $bold 2.6rem/3.2rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 3.2rem/4.2rem $regular;
      }
      color: #002D4F;
      display: inline-block;
    }
    p {
      color: #4a596f;
      font: $light 1.8rem/2.8rem $regular;
      text-align: center;
    }
  }
  form {
    .field-wrap {
      display: block;
    }
    /* Selectors for individual fields */
    #nf-field-24-container,
    #nf-field-22-container, #nf-field-7-container,
    #nf-field-9-container {
      width: 49%; /* Adjust width to account for margin */
      float: left;
      margin-right: 2%; /* Add margin between fields */
      box-sizing: border-box; /* Include padding and border in width calculation */
      padding-left: 25px;
    }
    #nf-field-25-container, #nf-field-26-container, #nf-field-8-container, #nf-field-10-container {
      width: 49%; /* Adjust width to account for margin */
      float: left;
      box-sizing: border-box; /* Include padding and border in width calculation */
      padding-right: 25px;
    }
    #nf-field-23-container, #nf-field-6-container {
      padding: 25px;
      background: #EFF2F7;
      @include border-radius(10px);
    }
    
    .nf-response-msg {
      padding: 40px;
      background: #EBEDF2;
      @include border-radius(10px);
      text-align: center;
    }
    
    /* Clear the float to prevent wrapping issues */
    .nf-field-container::after {
      content: "";
      display: table;
      clear: both;
    }

    .nf-field-container {
      clear: none;
    }
    #nf-field-27-container, #nf-field-11-container, #nf-field-12-container {
      clear: both;
      padding: 0 25px;
      @media screen and (max-width: 768px) {
        padding: 0;
      }
    }
    
    .essentials-gbp100-month { background-color: lightgreen; }
    .advanced-gbp200-month { background-color: lightblue; }
    .premium-gbp400-month { background-color: lightcoral; }
    .guidance-needed { background-color: lightyellow; }
    
    /* Adjustments for smaller screens */
    @media screen and (max-width: 768px) {
      #nf-field-24-container,
      #nf-field-25-container,
      #nf-field-22-container,
      #nf-field-26-container {
        width: 100%;
        float: none;
        margin-right: 0%;
        padding: 0;
      }
    }
    .nf-field-label {
      width: 100%;
    }
    .nf-field-element {
      width: 100%;
    }
  }
}



// compare
.before_after {
  background: #2C3E50;
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: 60px 0;
  }
  .heading {
    margin-bottom: 40px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 40px;
    }
    text-align: center;
    h3 {
      margin-bottom: 10px;
      font: $bold 2.6rem/3.2rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 3.2rem/4.2rem $regular;
      }
      color: $white;
      display: inline-block;
    }
    p {
      color: $white;
      font: $light 1.8rem/2.8rem $regular;
      text-align: center;
      a {
        color: $orange;
        text-decoration-color: $orange;
      }
    }
  }
  .container {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
    }
  }
  .compare {
    background: #233140;
    color: $white;
    padding: 25px;
    @include border-radius(10px);
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
    }
    h4 {
      color: $white;
      text-align: center;
    }
    table {
      border: none;

      td {
        border: none;
        background: #233140;
        &.red {
          background: #de4d60;
        }
        &.yellow {
          background: #FFCD35;
        }
        &.green {
          background: #00B090;
        }
      }
    }
    
    span.company {
      color: #5b7691;
      font: $normal 1.2rem/2.2rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 1.4rem/2.4rem $regular;
      }
    }
  }
}